.btn {
    padding: 4px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.primary {
    color: #fff;
    background-color: #007aff;
}

.secondary {
    color: #fff;
    background-color: #6c757a;
}

.success {
    color: #fff;
    background-color: #24aa41;
}

.danger {
    color: #fff;
    background-color: #db354a;
}

.warning {
    color: #fff;
    background-color: #ffbf03;
}

.light {
    background-color: #f7f7f9;
}

.light:hover {
    background-color: #f2f2f2;
    transition: all 0.5s ease-in;
}

.link {
    color: #4d78b9;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.link:hover {
    color: #2459a9;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}